<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.estacio.poupeecompre" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/pec"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activitys.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.CadastroDeUsuarioActivity"
            android:label="@string/title_activity_cadastro_de_usuario" >
        </activity>
        <activity
            android:name=".activitys.CadastroDeDespesaActivity"
            android:label="@string/title_activity_cadastro_de_despesa" >
        </activity>
        <activity
            android:name=".activitys.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".activitys.CasdastroDeReceitasActivity"
            android:label="@string/title_activity_casdastro_de_receitas" >
        </activity>
    </application>

</manifest>
